.itemCard,
.itemCardCart {
  max-width: 300px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid teal;


  & button {
    margin: 10px;
  }
}

.itemCardCart button {
  width: 100px;
}

.quantityInput {
  width: 50px;
}
