.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: start;

  &CartSVGContainer {
    position: absolute;
    top: 20px;
    right: 5px;
  }

  & svg {
    width: 30px;
    fill: rgb(204, 255, 0);
  }
}
